@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Semibold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    }
    