<div class="wrapper">
  <form [formGroup]="searchForm">
  <span class="text-search">Filter by keywords</span>
    <div class="input-wrapp">
      <button class="btn-search">
        <img src="../assets/icons/search.svg" class="search-img" alt="search" />
      </button>
      <input class="input-search" formControlName="search" class="input-search" type="text" />
    </div>
  </form>
  <div class="result">
    <span class="count-page" *ngIf="(countPages$ | async) as count">Results: {{ count }}</span>
    <hr>
  </div>

  <div class="cards">
    <app-card-component></app-card-component>
  </div>

</div>