.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  margin-top: 50px;
  h1 {
    font-weight: 600;
    size: 16px;
    line-height: 19.5px;
  }
  .text-search{
    font-family: Montserrat Semibold;
  }
  .input-wrapp {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    max-width: 600px;
    width: 100%;
    height: 50px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0px 8px 24px 0px #0000000d;
    .btn-search {
      background: none;
      border: none;
      .search-img {
        padding: 15px 20px;
      }
    }
    .input-search {
      height: 24px;
      width: 100%;
      border: none;
      outline: none;
    }
  }

  .result {
    margin-top: 36px;
    .count-page{
      font-family: Montserrat Semibold;
      font-size: 16px;
      line-height: 20px;
    }
    hr {
      background-color: #eaeaea;
      height: 1px;
      border: none;
    }
  }

  .cards {
    margin-top: 52px;
  }
}

